body {
    background-image: url('backgroundMobile.png');
    background-position: bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overscroll-behavior: contain;
    padding-bottom: 50px;
    height: 100%;
    overflow: auto;
}

.container {
    display: flex;
    justify-content: center;
}

.header {
    justify-content: center;
    display: flex;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 50px;
}




@media (min-width: 900px) {
    body {
        background-image: url('backgroundDesktop.png');
    }

    .header {
        font-size: 100px;
    }
}
