body {
    background-image: url('backgroundMobile.png');
    background-position: bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overscroll-behavior: contain;
    padding-bottom: 50px;
    height: 100%;
    overflow: auto;
}

html {
    overflow: hidden;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

.header {
    justify-content: center;
    display: flex;
    font-family: 'Zen Tokyo Zoo', cursive;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.navbar {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-text {
    color: rgb(204,204,90);
}

.navbarIcon {
    width: 30px;
    height: 30px;
}

a {
    font-family: 'Doppio One', sans-serif;
    color: black !important;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 1px;
  }

a:hover {
    text-shadow: 2px 2px rgb(204,204,90);
    letter-spacing: 2px;
    font-size: 24px;
}

.neonText {
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 55px;
    text-shadow: none;
  }
  

@media (min-width: 900px) {
    body {
        background-image: url('backgroundDesktop.png');
    }

    .header {
        font-size: 120px;
        margin-top: 250px;
    }

    .navbar {
        margin-left: 400px;
        margin-right: 400px;
    }

    .navbarIcon {
        width: 50px;
        height: 50px;
    }

    .neonText {
        font-size: 120px;
        color: rgb(0, 0, 0);
        text-shadow:
            0 0 13px #fff,
            0 0 16px #fff,
            0 0 27px #fff,
            0 0 48px rgb(204,204,90),
            0 0 88px rgb(204,204,90),
            0 0 98px rgb(204,204,90),
            0 0 108px rgb(204,204,90),
            0 0 157px rgb(204,204,90),
            0 0 181px rgb(204,204,90);
      }

    
}
