body {
    background-image: url('backgroundMobile.png');
    background-position: bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overscroll-behavior: contain;
    padding-bottom: 50px;
    height: 100%;
    overflow: auto;
}

.header {
    justify-content: center;
}



@media (min-width: 900px) {
    body {
        background-image: url('backgroundDesktop.png');
    }
}
