body {
    background: linear-gradient(135deg, rgb(206, 218, 216) 25%, transparent 25%) -50px 0, 
                linear-gradient(225deg, rgb(206, 218, 216) 25%, transparent 25%) -50px 0, 
                linear-gradient(315deg, rgb(206, 218, 216) 25%, transparent 25%), 
                linear-gradient(45deg, rgb(206, 218, 216) 25%, transparent 25%); 
    background-size: 100px 100px; 
    }


.header {
    justify-content: center;
    display: flex;
    font-family: 'Zen Tokyo Zoo', cursive;
    text-shadow: 2px 2px rgb(204, 204, 149);
    font-size: 60px;
    letter-spacing: 5px;
}

.loginContainer {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px 25px;
    margin-top: 150px;
    margin-left: 5px;
    margin-right: 5px;
}

form {
    margin-left: 20px;
    margin-right: 20px;
}

.form-label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    color: rgb(66, 66, 66);
}

.form-control:focus {
    border-color: rgb(204, 204, 149);
    box-shadow: 0 0 0 0.2rem rgba(204, 204, 149, 0.25);
} 

.buttonSubmit {
    font-size: 28px;
    font-family: 'Zen Tokyo Zoo', cursive;
    letter-spacing: 2px;
}


@media (min-width: 900px) {
    .header {
        font-size: 90px;
        margin-top: 10px;
    }

    .loginContainer {
        margin-left: 300px;
        margin-right: 300px;
        margin-top: 250px;
    }

    .form-label {
        font-size: 32px;
    }

    .buttonSubmit {
        font-size: 32px;
    }
    
}
