body {
    /* background-image: url('catalogDesktopBackground.png'); */
    background-color: black;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overscroll-behavior: contain;
    padding-bottom: 50px;
    height: 100%;
    overflow: auto;
}

html {

    margin: 0;
    padding: 0;
}

.container {
    justify-content: center;
    display: flex;
}



.navbarIcon {
    width: 30px;
    height: 30px;
}


.header {
    color: black;
    font-family: 'Zen Tokyo Zoo', cursive;
    text-shadow: 1px 1px rgb(204,204,90);
    font-size: 34px;
}



@media (min-width: 900px) {

    .navbar {
        margin-left: 200px;
        margin-right: 200px;
    }

    .navbarIcon {
        width: 50px;
        height: 50px;
    }

    .header {
        color: black;
        font-family: 'Zen Tokyo Zoo', cursive;
        text-shadow: 1px 1px rgb(204,204,90);
        font-size: 48px;
        letter-spacing: 2px;
    }


    
}